# Config for Apache server

# Generic options
Options FollowSymLinks
Options -Indexes
Require all granted
Allow from all

# Error page
ErrorDocument 404 /pages/error/404.html
ErrorDocument 403 /pages/error/404.html

# X-Frame-Options header (security)
<IfModule headers_module>
Header always append X-Frame-Options SAMEORIGIN
</IfModule>

# Caching
<IfModule expires_module>
ExpiresActive On
ExpiresDefault "access plus 1 day"
</IfModule>
