/* Styles for dashboard page */

/* Override default left padding of 60px for hamburger menu icon */
.header-row {
  padding-left: 24px;
}

/* Searchbar styles */
.search {
  margin: 0 24px;
}

.search-input {
  background-color: blue;
}

/* Override MDL's hide header for mobile behavior */
header.header {
  display: flex !important;
}
