/* Styles that apply to all Elf pages */

a {
  color: #467aff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  background: #ededed;
  color: #586471;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  line-height: 150%;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

button {
  background: #f04d42;
  border: 1px solid #f04d42;
  border-radius: 0.15em;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 0.6em 1.4em;
  transition: background 0.2s, color 0.2s, opacity 0.2s;
  user-select: none;
}

button:active {
  background: #812620;
}

button:disabled {
  opacity: 0.5;
}

button.secondary {
  background: none;
  border: 1px solid #f04d42;
  color: #f04d42;
}

button.secondary:active {
  background: #812620;
  color: #fff;
}

button.white {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

button.white:active {
  background: #812620;
}

.card {
  background-color: #fff;
  box-shadow: 0.1em 0.1em 0.07em rgba(0, 0, 0, 0.07);
  margin: 1em auto 0 auto;
  padding: 1em;
}

.card-accent {
  background-color: #f44336;
  color: #f1f1f1;
}

.card-accent > .section-header {
  color: #fff;
}

.card2 {
  padding: 0;
}

.card2-section {
  padding: 1em;
}

.card2-section-beach {
  background-color: #f4f4f4;
  padding: 0.5em 1em;
}

.card2-section-option {
  color: #467aff;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background-color 0.1s;
}

.card2-section-option:hover {
  background-color: #f4f4f4;
}

.card2-section-small {
  opacity: 0.8;
  padding: 0.5em 1em;
}

.card2-section-caps {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.card2-section-title {
  padding-top: 0;
}

.center {
  width: 40em;
}

.collapse-button {
  color: #8a8a8a;
  font-size: 0.7em;
  font-weight: initial;
  vertical-align: top;
}

.collapsible {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 8px;
  padding-bottom: 8px;
  user-select: none;
}

.divider {
  margin-top: 2em;
}

footer {
  background: #586471;
  color: #c2c2c2;
  display: flex;
  flex-direction: row;
  margin: 5em auto 0 auto;
  padding: 1em 2em 3em 2em;
  width: 51em;
}

footer > div {
  margin: 0 2em;
}

.footer-header {
  color: #fff;
}

.footer-logo-section {
  opacity: 0.5;
}

.footer-navigation-section > a {
  color: inherit;
}

input[type="text"], input[type="password"] {
  background: rgba(255, 255, 255, 0.45);
  border: none;
  border-radius: 0.15em;
  color: #303942;
  font-size: 0.9em;
  outline: none;
  margin-bottom: 0.5em;
  padding: 0.8em;
  width: 20em;
  transition: background 0.1s, border 0.1s, color 0.1s;
}

input[type="text"].field-bold, input[type="password"].field-bold {
  font-weight: bold;
}

input[type="text"].field-clear, input[type="password"].field-clear {
  background: none;
  border-bottom: 0.15em solid #a8a8a8;
  border-radius: 0;
  padding: 0.8em 0;
}

input[type="text"].field-clear.field-bold::placeholder, input[type="password"].field-clear.field-bold::placeholder {
  font-weight: bold;
}

input[type="text"]:focus, input[type="password"]:focus {
  background: #fff;
}

input[type="text"].field-clear:focus, input[type="password"].field-clear:focus {
  background: none;
  border-bottom: 0.15em solid #dd1a1a;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  font-weight: normal;
}

.header-background {
  background: #f44336;
  box-shadow: 0 .1em .2em rgba(0, 0, 0, 0.2);
  height: 15em;
  min-width: 100vw;
  position: absolute;
  z-index: -100;
}

.logo {
  margin: 2em 0 1em 0;
  text-align: center;
}

main {
  display: flex;
  flex: 1;
  margin: auto;
  justify-content: center;
}

main > div > .card:first-child {
  margin-top: 0;
}

.no-transition {
  transition: none;
}

.section-divider {
  margin: 0.5em 0;
}

.section-divider:last-child {
  margin-bottom: 0;
}

.section-header {
  color: #303942;
  font-weight: bold;
  font-size: 1.1em;
}

.section-header-subtext {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  opacity: 0.9;
}

.sidebar {
  margin-right: 2em;
  min-width: 13em;
}

.subtext {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 2em;
  opacity: 0.9;
  text-align: center;
}

.toast {
  bottom: 1em;
  background: #181818;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  left: 1em;
  margin: 0;
  margin-bottom: -3.5em;
  position: fixed;
  transition: height 0.2s, margin 0.2s, opacity 0.2s, padding 0.2s;
}

.toast > .actions {
  color: #467aff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.1em;
}

.toast > .actions > .action {
  margin-left: 1em;
  user-select: none;
}
