/* This document contains the styles for the Sign In Page */

body, html {
  height: 100%;
  width: 100%;
  background-color: #f44336;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-container {
  height: 100%;
}

.landing {
  margin: 150px 0 0 150px;
  color: #ffffff;
  padding-right: 150px;
}

.landing-header {
  font-size: 70px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 100%;
  font-weight: bold;
  height: 100%;
}

.landing-body {
  font-size: 30px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 150%;
}

/* Contains signin-dialouge */
.signin-container {
  margin: 0 150px 0 auto;
}

.signin-box {
  padding: 24px;
}

.signin-box > .elf-logo {
  margin: auto;
}

.signin-box > .signin-text {
  text-align: center;
}

.signin-input > input {
  font-family: monospace !important;
}

/* Sign In error message area. To reveal, add text, set display: flex, opacity: 1, margin-bottom: 20px */
.signin-message {
  display: none;
  border-radius: 2px;
  background-color: #f93c3c;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  height: 36px;
  margin-bottom: 0;
  opacity: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: opacity, margin-bottom 2s;
}

.signin-button {
  width: 100%;
  float: right;
}
